<h2><%= @animal.name %></h2>

<p><a href='/'>Back to Animal Tracker</a></p>

<h3> Edit species type</h3>

<% if @animal.errors.any? %>
  <h3>Please fix this error:<h3>
    <ul>
      <% @animal.errors.full_messages.each do |message| %>
      <li><%=message %></li>
      <%end%>
    </ul>
<%end%>

<form action="/<%= @animal.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="animal_species">Species</label>
  <input id="animal_species" name="animal[name]" type="text" value="<%@animal.name %>">

  <button> Change species type</button>
</form>
