<h2><%= @region.name %></h2>

<form action="/regions/<%= @region.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="region_name">Name</label>
  <input id="region_name" name="region[name]" type="text" value="<%=@region.name %>">
  <button>Update region</button>
</form>

<p><a href='/regions'>Return to regions</a></p>
